.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body{
  background-color: #b399e0;
  
}

.card{
  border: 2px solid rgb(10, 21, 46);
  box-shadow: 0 4px 8px 0 #301859;
}

h3{
  font-family: 'Bebas Neue', sans-serif;
  font-family: 'Libre Baskerville', serif;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Young Serif', serif;
}

.t{
  color: red;
}
.o{
  color: orange;
}
.O{
  color: rgb(57, 11, 88);
}
.d{
  color: green;
}
.l{
  color: blue;
}
.i{
  color: brown;
}
.s{
  color: darkslateblue;
}
.k{
  color: rgb(25, 155, 84);
}
li{
  font-family: 'Bebas Neue', sans-serif;
font-family: 'Gabarito', cursive;
font-family: 'Libre Baskerville', serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Young Serif', serif;

}
.Item{
  color: rgb(12, 74, 77);
}